apiVersion: app/v1
kind: Deployment
metadata: 
  name: prometheus
  namespace: monitoring
spec: 
  replica: 1
  selector:
    matchLabels: 
      app: prometheus
  template: 
    metadata:
      labels: 
        app: prometheus
    spec: 
      container: 
        - name: prometheus
          image: prom/prometheus:v2.50.0
          args:
          - "--config.file= /etc/prometheus/prometheus.yml"   
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
    volume:
      - name: prometheus-config
        configMap: 
          name: prometheus-config
