apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |                # Everything under data: is actually the content of prometheus.yaml
    global:                             
      scrape_interval: 5s          

    scrape_configs:
      - job_name: 'kubernetes-nodes'
        static_configs:
          - targets: ['node-exporter:9100']

      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
#   global section : prometheus will scrape every target every 5 seconds  default is 1 minute
#   Scrape_config : prometheus needs to know  * what to scrape  * from where to scrape and where to find the endpoint   and these are defined in the jobs 
#   Job: this job scrape metrics from node Exporter 
#   static_configs: manuallly defined  scrape targets
#    target:  list of URL's promethesu should scrape 
#    SD : prometheus uses kubernetes API to dynamically  discover pods 
#    role: pod   means discover every pod in the cluster ,check it the pods exposes metrics ,prometheus will scrape the pod only if the pods has the correnct annotation like : prometheus.io/scrape: "true" ,prometheus.io/port: "8080"
